<?xml version="1.0" ?>
<robot name="Cup_GeoCenter.urdf">
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
      <inertia_scaling value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0.028575317269292654 0" xyz="0.000000 0.000000 0.000000"/>
      <mass value="0.000000"/>
      <inertia ixx="0.000000" ixy="0.000000" ixz="0.000000" iyy="0.000000" iyz="0.000000" izz="0.000000"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
       <mesh filename="Cup_GeoCenter.obj" scale="1 1 1"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 0.5"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.000000 0.000000 0.000000"/>
      <geometry>
        <mesh filename="Cup_GeoCenter_vhacd.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
